<!DOCTYPE html>
<html lang="en">

<head>
    <title>Timeless Recipes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link href="/stylesheets/sticky-footer.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</head>

<body>


    <header class="container header" id="timeless-recipes-header">
        <div class="col-md-9" id="logo-header">
            <img src="/images/timeless-recipe-logo.png" alt="timeless-recipes-logo" id="timeless-recipes-logo">
        </div>
        <div class="header-links row">
            <a href="/logout">
                <h5>Log out</h5>
            </a>
            <a href="/recipes-home-page" id="home-button"><i class="fas fa-home fa-2x"></i></a>
        </div>

        <hr>
    </header>

    {{{ body }}}

    <!-- Sticky Footer -->
    <footer class="footer">
        <div class="container-footer">
            <img src="/images/e-logo.png" alt="e-logo" style="height: 52px; width: 216px; display: block">
            <p class="text-muted">© Copyright 2020 All Rights Reserved | Website developed by <a
                    class="has-text-primary" target="_blank" href="https://github.com/nitinmuk">Nitin</a>, <a
                    class="has-text-primary" target="_blank" href="https://github.com/robynheslop">Robyn</a> & <a
                    class="has-text-primary" target="_blank" href="https://github.com/arjaesj">RJ</a></p>
        </div>
    </footer>

    <div class="modal fade" id="recipeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body p-5 m-3">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="modal-header"></h4>
                    <p id="modal-body"></p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>