<div class="container">
  <div class="row center">
    <div class="col-md-12">
      <h2>Welcome <span class="member-name"></span></h2>
      <h4>What do you want to cook today?</h4>
    </div>
  </div>

  {{!-- Specific recipe search --}}
  <div class="row">
    <div class="col-md-2"></div>
    <div class="form-group col-md-4 search-view-recipes" id="searchForRecipeForm" style="display:show">
      <h4>Search for a specific dish</h4>
      <input type="text" class="form-control" placeholder="Enter an ingredient or dish to search for" id="searchTerm"
        required>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="recipesToSearch" id="my-recipes" value="my-recipes"
            checked="">
          My Recipes
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="recipesToSearch" id="all-recipes" value="all-recipes">
          All Recipes
        </label>
      </div>
      <button type="submit" class="btn btn-primary disabled" id="searchForRecipeButton">Search</button>

      {{!-- Logo separator --}}
      <br>
      <img src="/images/e-logo.png"
        style="height: 52px; width: 216px; display: block; margin-top: 50px; margin-left: 70px;" alt="e-logo">
      <br>

      <h4>Can't decide?</h4>
      <button type="submit" class="btn btn-primary disabled" id="viewAllRecipesButton">View All My Recipes</button>

    </div>

    {{!-- Vertical line element --}}
    <div class="col-md-1 vertical"></div>

    {{!-- Dish of the day --}}
    <div class="col-md-4 recommended-recipes" id="dishOftheDay" style="display:show">
      <h4>Recipe Of The Day</h4>

      <div class="card" id="recipeOfTheDay" style="width: 100%">
        <img id="recipeOfTheDayPicture" class="card-img-top p-3" src="" alt="dish-of-the-day">
        <div class="card-body" id="recipeOfTheDayBody">
          <h3 id="recipeOfTheDayTitle"></h3>
          <div class="row">
            <div class="col-md-6" id="recipe-of-the-day-preparation-time-column">
              <p class="card-text"><i class="far fa-clock"></i> <span id="recipeOfTheDayPrepTime"></span></p>
            </div>
            <div class="col-md-6">
              <button id="recipeOfTheDayViewButton" class="btn btn-primary disabled viewRecipeButton" type="submit">View
              Recipe</button>
            </div>           
          </div>
        </div>
      </div>
    </div>

  </div>

  {{!-- Create Recipe Button --}}
  <div class="row center" id="addNewRecipe" style="display:show">
    <div class="col-md-12">
      <h4>Have a dish in mind?</h4>
      <button type="submit" class="btn btn-primary disabled" id="addNewRecipeButton">Add a new Recipe</button>
    </div>
  </div>

  {{!-- Food facts & Food Jokes --}}
  <div class="row center" id="food-facts-jokes" style="display:show">

    <div class="col-md-4" id="food-facts">
      <h4>Food for thought:</h4>
      <p class="food-fact"></p>
    </div>

    <div class="col-md-4" id="food-jokes">
      <h4>Laughing stock:</h4>
      <p class="food-joke"></p>
    </div>

  </div>
</div>

<script type="text/javascript" src="/js/recipes.js"></script>