<div class="container">
  <div class="row center">
    <div class="col-md-12">
      <h2>Welcome <span class="member-name"></span></h2>
      <h4>What do you want to cook today?</h4>
    </div>
  </div>

  {{!-- Specific recipe search --}}
  <div class="row">
    <div class="col-md-2"></div>
    <div class="form-group col-md-4 search-view-recipes" id="searchForRecipeForm" style="display:show">
      <h4>Search for a specific dish</h4>
      <input type="text" class="form-control" placeholder="Enter dish name here" id="searchTerm">
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="recipesToSearch" id="my-recipes" value="my-recipes">
          My Recipes
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="recipesToSearch" id="all-recipes" value="all-recipes">
          All Recipes
        </label>
      </div>
      <button type="submit" class="btn btn-primary disabled" id="searchForRecipeButton">Search</button>

      {{!-- Logo separator --}}
      <br>
      <img src="/images/e-logo.png"
        style="height: 52px; width: 216px; display: block; margin-top: 50px; margin-left: 70px;" alt="e-logo">
      <br>

      <h4>Cant decide?</h4>
      <button type="submit" class="btn btn-primary disabled" id="viewAllRecipesButton">View all Recipes</button>

    </div>

    {{!-- Vertical line element --}}
    <div class="col-md-1 vertical"></div>

    {{!-- Dish of the day --}}
    <div class="col-md-6 recommended-recipes" id="dishOftheDay" style="display:show">
      <h4>Would you like to try this?</h4>

      <div class="card border-light mb-3" style="width: 200px;">
        <div class="card-header">Recipe 1</div>
        <div class="card-body">
          <img src="/images/pancake.png" alt="dish-of-the-day" style="height: 250px; width: 400px; display: block;">
        </div>
      </div>
    </div>

  </div>

  {{!-- Create Recipe Button --}}
  <div class="row center" id="addNewRecipe" style="display:show">
    <div class="col-md-12">
      <h4>Have a dish in mind?</h4>
      <button type="submit" class="btn btn-primary disabled" id="addNewRecipeButton">Add a new Recipe</button>
    </div>
  </div>

  {{!-- Food facts & Food Jokes --}}
  <div class="row center" id="food-facts-jokes" style="display:show">

    <div class="col-md-4" id="food-facts">
      <h4>Food for thought:</h4>
      <p class="food-fact"></p>
    </div>

    <div class="col-md-4" id="food-jokes">
      <h4>Laughing stock:</h4>
      <p class="food-joke"></p>
    </div>

  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/recipes.js"></script>