<div class="container" style="align-content: center;">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <form class="signup">
        <h3>Create Account</h3>
        <div class="form-group">
          <label for="exampleInputUsername1">username</label>
          <input type="username" class="form-control" id="username-input" placeholder="enter unique username">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">email</label>
          <input type="email" class="form-control" id="signup-email-input" placeholder="enter your email address here">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">password</label>
          <input type="password" class="form-control" id="signup-password-input"
            placeholder="enter strong password here">
        </div>
        <div style="display: none" id="alert" class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span> <span class="msg"></span>
        </div>
        <button type="submit" class="btn btn-primary disabled">Submit</button>
      </form>
    </div>

    <div class="col-md-1 vertical"></div>

    <div class="col-md-4">
      <form class="login">
        <h3>Log in</h3>
        <div class="form-group">
          <label for="exampleInputEmail1">email</label>
          <input type="email" class="form-control" id="login-email-input" placeholder="enter your email address here">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">password</label>
          <input type="password" class="form-control" id="login-password-input"
            placeholder="enter your email password here">
        </div>
        <button type="submit" class="btn btn-primary disabled">Log in</button>
      </form>
    </div>

    <div class="col-md-2"></div>
  </div>
</div>

<!-- Sign up Modal -->
<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body p-5 m-3">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4>Creating User...</h4>
        <img src="/images/e-logo.gif" alt="e-logo gif"
          style="height: 52px; width: 216px; display: block; margin: auto;">
      </div>
    </div>
  </div>
</div>

<!-- Log in Modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body p-5 m-3">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4>Logging in...</h4>
        <img src="/images/e-logo.gif" alt="e-logo gif"
          style="height: 52px; width: 216px; display: block; margin: auto;">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/signup-login.js"></script>