<header class="container header" id="timeless-recipes-header">
  <div class="col-md-9" id="logo-header">
    <img src="/images/timeless-recipe-logo.png" alt="timeless-recipes-logo" id="timeless-recipes-logo">
  </div>
  <hr>
</header>

<div class="container" style="align-content: center;">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <form class="signup">
        <h3>Create Account</h3>
        <div class="form-group">
          <label for="exampleInputEmail1">username</label>
          <input type="username" class="form-control" id="username-input" placeholder="enter unique username">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">email</label>
          <input type="email" class="form-control" id="signup-email-input" placeholder="enter your email address here">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">password</label>
          <input type="password" class="form-control" id="signup-password-input"
            placeholder="enter strong password here">
        </div>
        <div style="display: none" id="alert" class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span> <span class="msg"></span>
        </div>
        <button type="submit" class="btn btn-primary disabled">Submit</button>
      </form>
    </div>

    <div class="col-md-1 vertical"></div>

    <div class="col-md-4">
      <form class="login">
        <h3>Log in</h3>
        <div class="form-group">
          <label for="exampleInputEmail1">email</label>
          <input type="email" class="form-control" id="login-email-input" placeholder="enter your email address here">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">password</label>
          <input type="password" class="form-control" id="login-password-input"
            placeholder="enter your email password here">
        </div>
        <button type="submit" class="btn btn-primary disabled">Log in</button>
      </form>
    </div>

    <div class="col-md-2"></div>
  </div>
</div>

<!-- Sticky Footer -->
<footer class="footer">
  <div class="container-footer">
    <img src="/images/e-logo.png" alt="e-logo" style="height: 52px; width: 216px; display: block">
    <p class="text-muted">© Copyright 2020 All Rights Reserved | Website developed by <a class="has-text-primary"
        target="_blank" href="https://github.com/nitinmuk">Nitin</a>, <a class="has-text-primary" target="_blank"
        href="https://github.com/robynheslop">Robyn</a> & <a class="has-text-primary" target="_blank"
        href="https://github.com/arjaesj">RJ</a></p>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/signup-login.js"></script>