.signup,
.login,
.vertical {
    margin: auto;
    margin-top: 50px;
}

.vertical {
    border-left: 1px solid grey;
    height: 400px;
    position: absolute;
    left: 50%;
    display: none;
}

@media (min-width: 768px) {
    .vertical {
        display: block;
    }
}

.center {
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#timeless-recipes-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 146px;
    width: 532px;
    /* width: 30%; */
}

.header-line {
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 5px;
    display: flex;
}

.header-links {
    display: flex;
    justify-content: space-around;
}

hr {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

.col-md-9 {
    max-width: 100%;
}

.search-view-recipes,
.recommended-recipes {
    margin-top: 50px;
}

button {
    margin-top: 10px;
}

#detailed-recipe-instructions {
    white-space: pre-wrap
}

#addNewRecipe,
#recipeForm,
#appendSearchItemsHere,
#detailedRecipeViewHere {
    margin: auto;
    margin-top: 5px;
}
#food-facts-jokes {
    margin-top: 20px;
    justify-content: center;
}

.food-fact,
.food-joke {
    margin-top: 0px;
    margin-bottom: 0px;
}

#recipeForm,
#appendSearchItemsHere,
#detailedRecipeViewHere {
    overflow-y: scroll;
    height:calc(50vh - 40px);
}

.recipe-card {
    margin-top: 20px;
    justify-content: space-evenly;
}
p.recipe-card-prep-time {
    margin-top: 0px;
    margin-bottom: 0px;
}

#recipe-details {
    margin-top: 20px;
    margin-left: auto;
    margin-right: 50px;
}

p.recipe-card-prep-time {
    margin-top: 0px;
    margin-bottom: 0px;
}

#recipeOfTheDay {
    border: none !important;
}

#recipeOfTheDayBody {
    padding-top: 0px;
}

#recipeOfTheDayPrepTime {
    padding-top: 22px;
    margin-left: 20px;
}

@media (min-width: 340px) {
    .recipe-image {
        float: none;
    }
}